:root{
    --color1: #282c33;
    --color2: #525960;
    --textcolor: #fff;
}

a{
    text-decoration: none;
    color: var(--textcolor);
}
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.displayFlexMiddleCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayFlexMiddle{
    display: flex;
    justify-content: center;
}

.headingTitles{
    color: var(--textcolor);
    margin-left: 5vw;
    margin-top: 5vh;
}
header{
    background-color: var(--color1);
}

header a img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.ads{
    border: 2px dotted;
    border-radius: 5px;
    margin: 5px;
}
.long-ads{
    height: 90px;
    width: 728px;
}
.box-adds{
    height: 255px;
    width: 305px;
}

section{
    background-color: var(--color1);
    flex-direction: column;
}

section .wrapper{
    padding: 0 50px;
    width: 100%;
}

section .wrapper .container{flex: 3;}
section .wrapper .content-holder a{
    margin: 15px;
    font-size: smaller;
}

section .wrapper .content-holder a span img:nth-child(3) {
    height: 40px;
    width: 40px;
    position: absolute;
}

section .wrapper .content-holder a img{
    height: 160px;
    width: 240px;
    object-fit: cover;
}
section .wrapper .content-holder a span p{
    /*max-width: 150px;*/
    max-width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
section .wrapper .content-holder a span{
    flex-direction: column;
    text-align: center;
    align-items: center;
}
section .wrapper .content-holder{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    padding: 25px 0;
    color: #fff;
}
section .wrapper .content-holder .text-data p{
    margin-bottom: 15px;
}
section .wrapper .content-holder .text-data a{
    border-radius: 50px;
    border: 2px solid #fff;
    padding: 5px 10px;
    margin: 10px 0;
    display: inline-block;
    background-color: darkred;
}

section .wrapper .content-holder .vid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
section .wrapper .content-holder .img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
section .wrapper .content-holder .story{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
section .wrapper .content-holder .article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section .wrapper .content-holder .form-holder{
    flex-direction: column;
    color: #fff;
    width: 100%;
}

.searchPost{
    flex-direction: column;
    color: #fff;
}

.searchPost *{
    margin:5px 0;
    padding: 4px;
    width: 50%;
}
.searchPost .DBButtons {
    display: none;
    justify-content: space-evenly;
}
.searchPost .DBButtons .fas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    width: 55px;
    background-image: linear-gradient(45deg, gold, black);
}
.searchPost .DBButtons .fas:hover{
    background-image: linear-gradient(45deg, black, gold);
    box-shadow: 0 0 18px 4px black;
}

section .wrapper .content-holder .form-holder *{
    margin:5px 0;
    padding: 4px;
    width: 50%;
}
button{
    border-radius: 50px;
    padding: 5px;
    background-color: darkgoldenrod;
    color: #fff;
    font-weight: bolder;
}
section .wrapper .content-holder video{
    border: 3px solid #ffd700a3;
    border-radius: 15px;
    margin-right: 10px;
    width: 100%;
}

section .wrapper .images-holder{
    flex-wrap: wrap;
    padding: 20px 0;
}
.content-bottom{
    color: #fff;
}
.content-bottom span{
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.content-bottom span#data1 a, .content-bottom span#data2 a{
    padding: 5px 15px;
    border-radius: 50px;
    background-color: darkgoldenrod;
    margin: 2px 5px;
}
.content-bottom span#data3 a{
    background-color: grey;
    padding: 2px 5px;
    border-radius: 5px;
    margin: 2px 3px;
}
section .wrapper .images-holder img {
    width: 180px !important;
    padding: 5px;
    height: auto !important;
    border-radius: 10px;
}

section .wrapper .Sidebar{
    justify-content: center;
    display: flex;
    flex: 1;
}
footer {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
    background-image: linear-gradient(360deg, #ebc45c, var(--color1));
}
.hide{
    display: none;
}

/*
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
*/

@media (max-width:920px){
    .long-ads{
        width: 90%;
    }
    header{
        flex-direction: column;
    }
    .wrapper {
        flex-direction: column;
    }
    section .wrapper{
        padding: 0 25px;
    }
    section .wrapper .content-holder a span p{
        max-width: 150px;
    }
    section .wrapper .content-holder a img{
        height: 80px;
        width: 150px;
    }
    section .wrapper .content-holder .form-holder *{
        width: 100%;
    }
}
